#pragma once

// copy this file and change the file extension by removing ".example" and fill in correct values below:

// Wifi
#define IOT_CONFIG_WIFI_SSID "SSID"
#define IOT_CONFIG_WIFI_PASSWORD "Password"
#define IOT_CONFIG_WIFI_CONNECT_RETRY_MS 10000

// Azure IoT
#define IOT_CONFIG_IOTHUB_FQDN "[your Azure IoT host name].azure-devices.net"
#define IOT_CONFIG_DEVICE_ID "Device ID"
#define IOT_CONFIG_DEVICE_KEY "Device Key"

// use this command to monitor telemetry:
// az iot hub monitor-events --login "IOTHUB_CONNECTION_STRING" --device-id IOT_CONFIG_DEVICE_ID